
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: linear-gradient(rgb(0, 0, 0), rgba(24, 17, 13, 0)), url(./img/background.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  background: rgba(1, 8, 26, 0.883);
  z-index: 9;
}

.nav-links {
  
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


ul, nav {
  padding: 0 50px;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10rem 0 1.5rem;
  color: #ffffffcb;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  position: fixed;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

.logo {
  color: white;
  padding: 0px 50px;
}

.btn {
  color: #ffffff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  transition: 1s all;
}

.btn:hover {
  background-color: rgba(255, 136, 0, 0.65);
  border: 1px solid;
  color: #ffffff;
}


.cover {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Previous {
  background-color: rgba(7, 7, 7, 0.822);
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  padding: 10px 100px;
  cursor: pointer;
  transition: 1s all;
}

.Next {
  background-color: rgba(7, 7, 7, 0.822);
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  padding: 10px 112px;
  cursor: pointer;
  transition: 1s all;
}

.Next:hover {
  background-color: rgba(255, 136, 0, 0.8);
  border: 1px solid #ffffff50;
}

.Previous:hover {
  background-color: rgba(92, 49, 0, 0.8);
  border: 1px solid #ffffff50;
}

.pandn {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 50px 0 50px 0;
}

 .item {
  display:inline-block;
  border: 1px solid rgb(255, 255, 255);
  max-width: 302px;
  height: 570px;
}

.movielist {
  width: 100%;
  background-color: rgba(7, 7, 7, 0.822);
  border: 2px solid rgba(255, 255, 255, 0.013);
  color: #ffffff;
  padding: 0 10px;
  cursor: pointer;
  transition: 1s all;
}

 Table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(7, 7, 7, 0.671);
  border: 1px solid rgba(255, 255, 255, 0);
  color: #ffffff;
  padding: 50px 150px;
  cursor: pointer;
  transition: 1s all;
 }

@media all and (max-width: 768px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  Table {
    padding: 50px 20px;
  }

  .coverimg {

    width: 100%;
    padding: 70px;
  }

}


@media all and (max-width: 414px) {

  nav {
    width: 100%;
    padding: 0;
  }

  .nav-links {
    width: 100%;
    padding: 0;

  }

  .logo {
    color: white;
    padding: 0px 10px;  
  }

  .cover {
    height: 180px;
    width: 100%;
    flex-direction: column;
  }
  
  Table {
    padding: 50px 10px;
   }

  .Previous {
    padding: 10px 10px;
  }
  
  .Next {
    padding: 10px 25px;
  }

}