* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: linear-gradient(rgb(0, 0, 0), rgba(24, 17, 13, 0)), url(./img/background.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 10rem 0 1.5rem;
    color: #ffffffcb;
}

.cover {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Previous {
    background-color: rgba(7, 7, 7, 0.822);
    border: 1px solid rgba(255, 255, 255, 0.116);
    color: #ffffff;
    padding: 10px 100px;
    cursor: pointer;
    transition: 1s all;
}

.Next {
    background-color: rgba(7, 7, 7, 0.822);
    border: 1px solid rgba(255, 255, 255, 0.116);
    color: #ffffff;
    padding: 10px 112px;
    cursor: pointer;
    transition: 1s all;
}

.Next:hover {
    background-color: rgb(255, 136, 0);
    border: 1px solid rgba(255, 255, 255, 0.116);
    color: black;
}

.Previous:hover {
    background-color: rgb(255, 136, 0);
    border: 1px solid rgba(255, 255, 255, 0.116);
    color: black;
}

.pandn {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.item {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.11);
    max-width: 302px;
    height: 570px;
}

.movielist {
    width: 100%;
    background-color: rgba(7, 7, 7, 0.822);
    border: 2px solid rgba(255, 255, 255, 0.013);
    color: #ffffff;
    padding: 0 10px;
    cursor: pointer;
    transition: 1s all;
}

Table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.671);
    border: 1px solid rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 50px 150px;
    cursor: pointer;
    transition: 1s all;
}

.pagBtn {
    background-color: rgba(7, 7, 7, 0.822);
    border: 1px solid rgba(255, 255, 255, 0.116);
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
    transition: 1s all;
}

.pagBtn:hover {
    background-color: rgb(255, 217, 0);
    border: 1px solid rgba(255, 255, 255, 0.116);
    color: black;
}

@media all and (max-width: 768px) {
    body {
        font-size: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    Table {
        padding: 50px 20px;
    }
    .coverimg {
        width: 100%;
        padding: 70px;
    }
}

@media all and (max-width: 414px) {
    .cover {
        height: 180px;
        width: 100%;
        flex-direction: column;
    }
    Table {
        padding: 50px 10px;
    }
    .Previous {
        padding: 10px 10px;
    }
    .Next {
        padding: 10px 25px;
    }
}