* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: linear-gradient(rgb(0, 0, 0), rgba(24, 17, 13, 0)), url(../public/img/background.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

ul, nav {
  padding: 0;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10rem 0 1.5rem;
  color: #ffffffcb;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  position: fixed;
  padding: 10px 100px 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 15px;
}



a.btn {
  color: #ffffff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  transition: 1s all;
}

a.btn:hover {
  background-color: rgba(255, 136, 0, 0.65);
  border: 1px solid;
  color: #ffffff;
}


.cover {
  height: 100%;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.madeby {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px 100px;
  color: #ffffff50;
}


.Previous {
  background-color: rgba(7, 7, 7, 0.822);
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  padding: 10px 100px;
  cursor: pointer;
  transition: 1s all;
  margin-top: 50px;
}

.Next {
  background-color: rgba(7, 7, 7, 0.822);
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  padding: 10px 125px;
  cursor: pointer;
  transition: 1s all;
}

.Next:hover {
  background-color: rgba(255, 136, 0, 0.8);
  border: 1px solid #ffffff50;
}

.Previous:hover {
  background-color: rgba(92, 49, 0, 0.8);
  border: 1px solid #ffffff50;
}


.Table {
  background-color: rgba(7, 7, 7, 0.822);
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  padding: 100px 100px;
  cursor: pointer;
  transition: 1s all;
}




@media all and (max-width: 800px) {
  body {
    font-size: 0.9rem;
  }

  .flex_form > * {
    font-size: 0.9rem;
  }

  header {
    flex-direction: column;
    padding: 10px !important;
  }

  header h2 {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 2rem;
  }

  .cover {
    padding: 20px;
  }


}


@media all and (max-width: 360px) {
  header nav li {
    margin: 0 10px;
  }

  .flex_form {
    display: flex;
    flex-direction: column;
  }

  
}